.movieDetails{
    background: #fff;
    width: 80%;
    min-height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    opacity: 0.9;
}
.ant-tag{
    height : 35px !important;
    line-height : 34px !important;
    font-weight : 900 !important;
    padding : 0 12px !important;
    font-size: 14px !important;
}
.movieName{
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 10px;
}
.moviePoster img{
    max-width:100%;
}
.movieTagline, .overview{
    font-family: 'Lato', sans-serif;
}
.overview{
    font-size: 18px;
}
.prodCompanies{
    margin-top: 20px;    
}
.prodCompanies a{
    font-size: 16px;
}
.actorPic{
    height: 80;
    width: 100px;
    border-radius: 50%;
}
.cast{
    text-align: center;
}
.cast a, .cast a:hover{
    color: #000;
}
.cast img{
    border: 1px solid #888;
    padding: 2px;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;    
}
.cast img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .movieDetails{
      width: 100%;
      padding: 5px;
    }
    h1.ant-typography, .ant-typography h1{
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .movieName, .movieTagline, .moviePoster{
        text-align: center;
    }
    .moviePoster img{
        /* width: 100%;         */
        object-fit: cover;
        width: 100%;
    }
    .tags{
        text-align: center;
    }
    .ant-tag{
        height : 25px !important;
        line-height : 23px !important;
        font-weight : 900 !important;
        padding : 0 6px !important;
        font-size: 14px !important;
        margin-bottom: 10px !important;
    }
    .prodCompanies img{
        margin-bottom: 5px;
        display: block;
    }
  }